.cards-sec {
  position: absolute;
  width: calc(100vw - 240px);
  left: 220px;
  top: 65px;
  padding: 20px;
  overflow: hidden;
  z-index: -1;
  transition: .2s ease;
}

.cards-sec.active {
  width: calc(100vw - 58px);
  left: 56px;
  margin-left: 20px;
}

.cards-sec .row {
  position: relative;
  z-index: 1 !important;
}

.price {
  color: #FFA725;
  font-size: 20px;
}

.rating {
  color: #ad9ade !important;
  font-size: 11px;
}

.card-img-box {
  width: 100%;
  height: 230px;
}

.card-img-box img {
  width: 100%;
  height: 100%;
  padding: 10px;
}